* {
  font-family: Lato;
}

html {
  background: url(http://thewynwoodwalls.com/resources/images/main/wynwood_walls_artists/b/img_5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
 padding-left: 120px;
  float: left;
  width: 75%;
  position: fixed;
  z-index: 1000;
  left: 10px;
  top: 15px;
}

  .header li {
    display: inline;
    padding: 0 2em 0 2em;
  }

  .header a {
    text-decoration: none;
  }

  .header ul {
    text-align: center;
  }

/*for making buttons*/
.btn {
  padding-left: 200px;
  border-radius: 100px;
  text-shadow: 3px 2px 5px #050105;
  color: #ffffff ;
  font-size: 1.5em;
  background-color: #bfb3f0;
  border: solid #000000 3px;
  text-decoration: none;
}

.btn:hover {
  background: #A74CAB;
  text-decoration: none;
}

img#name {
  height: 100px;
  width: 100%;
}
img#icons{
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-top: 3em;
  margin-left: .45em;
}

div.headline {
  background-color: #A74CAB  ;
  border: solid #000000 5px;
  border-radius: 25px;
  margin: 0 auto;
  padding-bottom: 5px
  top: 100px;
  left: 10px;
  max-width: 75%;
  clear: both;
  text-shadow: 4px 2px 6px #050105;
}

div.headline:hover{
  background: #9A32CD;
  text-decoration: none;
}

div.headline {
  margin: 0 auto;
  text-shadow: 4px 2px 6px #050105;
  font-size: 1.5em;
  color: white;
}

span#name{
  margin: 0 auto;
  font-size: 3em;
  text-decoration: bold;
  color: white;
  margin-left: 25px;
}

span#line{
  font-size: 1.5em;
  display: inline;
  word-spacing: 15px;
  color: white;
  margin-left: 6em;
}

div.content {
  border: solid #000000 3px;
  background-color: #A74CAB;
  border-radius: 25px;
  margin: 0 auto;
  top: 120px;
  left: 10px;
  max-width: 75%;
  clear: both;
  text-shadow: 4px 2px 6px #050105;
  font-size: 1.5em;
  color: white;
}

div.content h2 {
  margin-left: 25px;
}

div.content p {
  margin-left: 25px;
}

div.content p#center {
  text-align: center;
}


div.content li {
  margin-left: 50px;
}

div.content li#grid{
  display: inline;
  margin: 0;
}

div.content img {
    width: 125px;
  height: 125px;
}




